.fondo{
    background-image: url(../imagenes/sharingMIND_principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.baner{
    background-color: black;
    border-radius: 20px;
    height: 150px;
    width: 90%;
}
.alto{
    height: 60vh;
}
.testi{
    position: absolute;
    top:0;
    right: 0;
    padding: 3px;
}

#imagenes img {
    max-width: 200px;
  }
  #laptop:checked ~ #imagenes .tablet, #laptop:checked ~ #imagenes .movil {
      display: none;
  }
  
  #tablet:checked ~ #imagenes .laptop, #tablet:checked ~ #imagenes .movil {
      display: none;
  }
  
  #movil:checked ~ #imagenes .tablet, #movil:checked ~ #imagenes .laptop {
      display: none;
  }